body {
  margin: 0;
  padding: 0;
 
}
/* css import font */
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&family=Kufam:wght@400;500;600;700;800&display=swap");
/*---------------start---------------- */
h1 {
  color: #19063d;
  font-family: Kufam;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
}
h2 {
  color: #19063d;
  font-family: Kufam;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}
a {
  text-decoration: none;
}
/* btn blue && primary */
.btn-primary {
  display: inline-flex;
  padding: 17px 35px;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  background: #2178ff;
  color: #fff;
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 144%;
  border: none;
  transition: background-color 0.3s, color 0.3s;
}

.btn-primary:hover {
  background: #ffff;
  color: #2178ff;
  border: 1px solid #2178ff;
  /* transform: scale(0.1) */
}

/* btn normal */
.btn-normal {
  color: #000;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #000;
}
/* btn out line */
.btn-outline {
  display: flex;
  align-items: center;
  padding: 12px 25px;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  border: 2px solid #2178ff;
  color: #2178ff;
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 144%;
  transition: background-color 0.7s, color 0.3s;
}
.btn-outline:hover {
  background-color: #2178ff;
  color: white;
  font-size: 18px;
}
.arrow {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #2178ff;
  color: white;
}

p {
  color: #6b6675;
  font-family: Kufam;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 190%;
}
small {
  color: #6b6675;
  text-align: center;
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
/* container */
.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
}
/* nav bar style start */
.navbar {
  margin-top: 30px;
  height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* logo */
.logo {
  height: 50px;
  width: 128px;
}
/* nav items */
.nav-items {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 50px;
}
.nav-item {
  color: white;
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 144%;
  text-decoration: none;
}
.nav-item:hover {
  color: black;
}
.hamburger {
  display: none;
}

/* ----------------------Media Query for Small Devices -----------------------*/
@media (max-width: 768px) {
  .nav-items {
    color: white;
    width: 50%;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
  }
  .nav-items.active {
    display: flex;
  }
  .hamburger {
    display: block;
    /* position: absolute; */
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: black;
    font-size: 24px;
  }
}

/*------------------------- hero section-----------------------  */
/* .fa-solid {
  background: blue;
  padding: 5px 5px;
  border-radius: 100%;
} */
.hero {
  margin-top: 106px;
}
.hero-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.hero-top div {
  /* background: red; */
}
.hero-top h1 {
  margin: 0;
  /* background-color: yellow; */
}
.animal {
  margin-top: -50px;
  /* display: flex; */
  display: grid;
  /* grid-template-columns: repeat(3,1fr); */
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  align-items: flex-end;
}
.animal > img {
  object-fit: cover;
  width: auto;
  height: auto;
}
/* .leg1{
  width: 50px;
  height: 40px;
  position: absolute;
} */
/* media query */
@media (max-width: 768px) {
  .hero-top {
    flex-direction: column;
    align-items: center;
    /* align-items: fle; */
  }
  .animal {
    margin-top: 50px;
    /* grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .animal > img {
    height: auto;
    max-width: auto;
  }
}
/* ------------------feed back section------------------------- */
.review {
  margin-top: 120px;
  background: #263238;
  color: white;
}
.feedbacks {
  display: flex;
  align-items: center;
}
.feedbacks img {
  height: auto;
  width: auto;
}
.feedback-text-side p {
  color: white;
  word-wrap: break-word; /* Break long words if needed */
  white-space: normal;
}
.feedback-text-side {
  max-width: 100%;
  margin-left: -100px;
  flex-grow: 1;
}
.circle {
  /* position: relative; */
  width: 170px;
  height: 230px;
  border-radius: 84.5px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.feedbacks > img {
  /* position: relative;
  left: -80px; */
}
.blue-circle {
  width: 132px;
  height: 132px;
  background: #2178ff;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.number {
  color: #fff;
  text-align: center;
  font-family: Jost;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  margin-bottom: 0;
}
.blue-circle > p {
  margin-top: 10px;
  color: #fff;
  text-align: center;
  font-family: Kufam;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

/*----------------- what can we do section --------------------*/
.can-do {
  margin-top: 120px;
  display: grid;
  gap: 34px;
  grid-template-columns: repeat(auto-fit, minmax(384px, 1fr));
  min-width: calc(3 * 384px + 2 * 34px); /* Ensure at least 3 columns */
}

.card {
  width: 384px;
  height: 398px;
  border-radius: 20px;
  border: 1px solid #ccc;
  /* padding: 40px 34px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card > img {
  height: 120px;
  width: 120px;
}
.card > h6 {
  margin-top: 40px;
  margin-bottom: 0;
  color: #19063d;
  text-align: center;
  font-family: Kufam;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}
.card > {
  margin-top: 20px;
}
.text-side{
  width: 367px;
  background-color: red;
}
/*------------------- slider------------------ */
.slider1 {
  background-color: red;
  /* margin-left: -30%; */
  width:100%;
  overflow: hidden;
  position: relative;
}

.slider-container1 {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.slider-item1 {
  flex: 0 0 calc(50% - 20px);
  margin: 0 10px;
  text-align: center;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.slider-item1 img {
  max-width: 100%;
  height: auto;
}

.slider-prev1,
.slider-next1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 20px;
  border: none;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.slider-prev1 {
  left: 10px;
}

.slider-next1 {
  right: 10px;
}
@media (max-width: 768px) {
  .slider-item1 {
    flex: 0 0 calc(100% - 20px);
  }
}

@media (max-width: 480px) {
  .slider-item1 {
    flex: 0 0 calc(100% - 20px);
  }
}

/* ---------------------shop by category-------------------- */
.category-title {
  margin-top: 120px;
  text-align: center;
}
button {
  border: none;
  background: transparent;
  color: white;
}
.card-container {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(384px, 1fr));
  grid-auto-flow: dense;
  min-width: calc(3 * 384px + 2 * 24px);
}
.category-card {
  text-align: left;
  width: 360px;
  height: 212px;
  border-radius: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.dog-bg {
  background: #99ce58;
}
.cat-bg {
  background: #ff9174;
}
.rabbit-bg {
  background: #46d7e9;
}
.category-card > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.category-card > div > h5 {
  text-align: left;
  margin: 0;
  color: #fff;
  text-align: center;
  font-family: Kufam;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}
.category-card > div > p {
  color: rgba(255, 255, 255, 0.9);
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}

/* ******************slider style******************** */
/* Add your styles here */
.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slider-container {
  display: flex;
  transition: transform 0.3s ease-in-out;
}
.slider-container:first-child {
  /* margin: 0 0; */
}

.slider-item {
  flex: 0 0 calc(33.33% - 20px);
  margin: 0 12px;
  /* margin-left: 24px; */
  /* margin-right: 24px; */
  text-align: left;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.slider-item img {
  max-width: 100%;
  height: auto;
}

.slider-prev,
.slider-next {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  border: none;
  background-color: #d7e7ff;
  color: #2178ff;
  cursor: pointer;
}

.slider-prev {
  left: 10px;
}

.slider-next {
  right: 10px;
}

@media (max-width: 768px) {
  .slider-item {
    flex: 0 0 calc(50% - 20px);
  }
}

@media (max-width: 576px) {
  .slider-item {
    flex: 0 0 calc(100% - 20px);
  }
}

/* ---------------------pet food section -----------------*/

.pet-food {
  margin-top: 120px;
  padding: 123px 0;
  background: #263238;
}
.pet-food-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pet-food-title > h2 {
  color: white;
}
.food-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  flex: wrap;
  gap: 24px;
}
/* We Will Make Them Truly Happy */
.happy-container {
  margin-top: 120px;
  display: flex;
  align-items: center;
}
.dog {
  display: flex;
  align-items: center;
}
.whit-dog {
  margin-left: -100px;
}
/*----------------------- Client Reviews------------------- */
.client-review {
  margin-top: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 76px; */
}

.review-title > h6 {
  margin: 0;
  color: #011736;
  font-family: Kufam;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 120% */
}
.review-title > p {
  margin: 0;
  color: #6b6675;
  font-family: Jost;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
}

.review-image {
  display: flex;
  align-items: center;
}
.happy-customer {
  position: relative;
  z-index: 10;
  margin-right: -200px;
}

/* ---------------footer---------------------- */
footer {
  margin-top: 120px;
  /* margin-bottom: 400px; */
  padding-top: 120px;
  background: #263238;
  color: white !important;
}

.footer-logo {
  width: 194px;
  height: 76px;
}
.fa-facebook-f,
.fa-twitter,
.fa-instagram,
.fa-linkedin {
  background: white;
  color: #000;
  padding: 5px;
  border-radius: 100%;
  cursor: pointer;
}
.fa-facebook-f:hover,
.fa-twitter:hover,
.fa-instagram:hover,
.fa-linkedin:hover {
  background: #ff5b2e;
}

h3 {
  color: #fff;
  /* text-align: center;.all-section-footer{
     */
  font-family: Kufam;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 42px; /* 140% */
}
.all-section-footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.all-section-footer div a p {
  color: white;
}
.all-section-footer div p {
  color: white;
}
.line {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  height: 2px;
  background: rgba(255, 255, 255, 0.33);
}
footer h6 {
  text-align: center;
  padding-bottom: 30px;
  color: #fff;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
}

/* media query for responsive */
@media (max-width: 1024px) {
  .container-2 {
    padding: 0 20px;
    box-sizing: border-box;
  }
  h1 {
    font-size: 50px;
  }
  /* review */
  .feedback-text-side p {
    font-size: 17px;
  }
  /* make happy */
  .service-dog p {
    font-size: 18px;
  }
}

@media (max-width: 991px) {
  h1 {
    font-size: 40px;
  }
  /* make happy */
}

@media (max-width: 768px) {
  .hero {
    margin-top: 50px;
  }
  /* review section */
  .review {
    margin-top: 50px;
  }
  .feedbacks {
    flex-direction: column;
    justify-content: center;
  }
  .circle {
    margin-bottom: 30px;
    height: 170px;
    width: 300px;
    flex-direction: row;
    gap: 10%;
  }
  .feedback-text-side {
    margin-left: 20px;
  }
  /* pet food */
  .pet-food {
    padding: 70px 0;
  }
  /* make happy */
  .happy-container {
    margin-top: 50px;
    flex-direction: column;
  }
  /* footer */
  .all-section-footer {
    margin-bottom: 50px;
    flex-wrap: wrap;
  }
  footer {
    margin-top: 60px;
    /* margin-bottom: 400px; */
    padding-top: 50px;
    background: #263238;
    color: white !important;
  }
  .order-1 {
    order: 1;
  }

  .order-4 {
    order: 4;
  }
}

@media (max-width: 576px) {
  /* pet food product */
  .food-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .food-container img {
    width: 90%;
  }
  /* footer */
  .order-1 {
    order: 4;
  }

  .order-4 {
    order: 0;
  }
}

@media (max-width: 425px) {
  .animal > img {
    width: 300px;
  }
  /* feed back */
  .feedback-text-side p {
    font-size: 16px;
  }
  .feedbacks img {
    width: 280px;
  }
  /* pet food product */
  .btn-primary {
    padding: 17px 17px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 26px;
  }
  .pet-food {
    padding: 40px 0;
  }
  /* make happy */
  .dog img {
    width: 60%;
  }
  p {
    font-size: 16px;
  }
}
@media (max-width: 375px) {
  .animal > img {
    width: 300px;
  }
  /* pet food  */
  .btn-primary {
    padding: 7px 12px;
    font-size: 16px;
  }
  .btn-outline {
    padding: 7px 12px;
    font-size: 16px;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 19px;
  }
}

/* **************************************************** */
